label {
    color: #000;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    margin-right: 70px;
    margin-bottom: 60px; 
  }

  .button2 {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    background-color: #ffffff;
    border: 1px solid #233D4D;
    display: flex;
    align-items: center; 
    border-radius: 5px;
    /* padding: 10px 20px; */

    color: #233D4D;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;

    width: 195px;
    height: 47px;
    flex-shrink: 0;
    
    margin-right: 60px; 
} 